<header>
    <div class="logo">
        <a href="{% url 'search:index' %}">
        Главная страница
        </a>
    </div>
    {% if user.is_authenticated %}
    <div class="header-buttons">
        <a href="{% url 'logout' %}"> <button class="logout-button">Выход</button> </a>
        <a href="{% url 'search:profile' user.username %}"> <button class="account-button">Личный кабинет</button> </a>
    </div>
    {% else %}
    <div class="header-buttons">
        <a href="{% url 'registration' %}"> <button class="register-button">Регистрация</button> </a>
        <a href="{% url 'login' %}"> <button class="login-button">Вход</button> </a>
    </div>
    {% endif %}
</header>