{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="1.css">

<style>
    body {
        margin: 0;
        padding: 0;
    }

    header {
        background: #FEC502;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
    }

    .header-buttons {
        display: flex;
        gap: 10px;
    }

    .register-button,
    .login-button {
        background: #222127;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block title %} Главная {% endblock %}

{% block content %}
<main>
    <div class="search-container">
        <div class="search-icon">🔍</div> <!-- Вместо "🔍" добавьте код для изображения лупы -->
        <div class="search-label">Поиск документов</div>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="input_field" class="search-input" placeholder="Поиск...">
        </form>
    </div>
    {% if docs is not None %}
    <ul>
        <li> {{docs}} </li>
    </ul>
    {% endif %}
    <section class="volunteer-info">
        <div class="volunteer-description"> </div>



        <div class="volunteer-photos">
            <div class="volunteer-photo" style="background-image: url('volunteer1.jpg');">
                <p>Делаем добро вместе</p>
            </div>
            <div class="volunteer-photo" style="background-image: url('volunteer2.jpg');"></div>
        </div>
    </section>
</main>
{% endblock %}
