{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<style>
    body {
        margin: 0;
        padding: 0;
    }

    header {
        background: #FEC502;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
    }

    .header-buttons {
        display: flex;
        gap: 10px;
    }

    .register-button,
    .login-button {
        background: #222127;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    #dropdownMenu {
        display: grid;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
      }
</style>
{% endblock %}

{% block title %} Главная {% endblock %}

{% block content %}
<main>
    <div class="search-container">
        <div class="search-icon">🔍</div> <!-- Вместо "🔍" добавьте код для изображения лупы -->
        <div class="search-label">Поиск документов</div>
        <form method="POST">
            {% csrf_token %}
            <input name="document_name" id="doc_name" type="text" class="search-input" placeholder="Поиск...">
            <button type="button" id="dropdownBtn">F</button>
            <div id="dropdownMenu" style="display: none">
              <label>Тип</label> <input name="type"> <br>

              <label>Номер документа</label> <input name="number"> <br>

              <label>Дата выпуска</label> <input type="date" name="date"> <br>

                <label>Дата входа в действие</label> <input type="date" name="enter_date"> <br>

              <label>Ключевые слова</label> <input name="key_words"> <br>
            </div>
        </form>
    </div>
    <section class="found_documents">
        {% if request.method == "POST" %}
                {% for document, data in documents.items %}

                    {% if data.file_stored %}
                    <a href="viewer?id={{document}}{{data.file_type}}"><button name={{document}} >
                                {{ data.document_name }}
                            </button>
                        </a>
                    {% else %}
                    <button name={{document}} >
                        {{ data.document_name }}
                    </button>
                    {% endif %}
                {% endfor %}
        {% endif %}
    </section>
</main>
{% endblock %}

{% block script %}
<script>
    let dropdownBtn = document.getElementById("dropdownBtn");
    let dropdownMenu = document.getElementById("dropdownMenu");

    let mainInput = document.getElementById("doc_name")
    dropdownBtn.addEventListener("click", function() {
        if (dropdownMenu.style.display === "none") {
          dropdownMenu.style.display = "grid";
        } else {
          dropdownMenu.style.display = "none";
        }
    });

    document.querySelector('form').addEventListener('keypress', function(event) {
     if (event.keyCode === 13) {
       event.preventDefault();
       this.submit();
     }
   });




</script>
{% endblock %}
