{% extends "base.html" %}
{% block title %}
  Личный кабинет {{ profile }}
{% endblock %}
{% block content %}
  <h1 class="mb-5 text-center ">Личный кабинет</h1>
  <small>
    <ul class="list-group list-group-horizontal justify-content-center mb-3">
      <li class="list-group-item text-muted">Имя пользователя: {{ profile.get_full_name }}</li>
      <li class="list-group-item text-muted">Почта: {{ profile.email }}</li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-center">
      {% if user.is_authenticated and request.user == profile %}
      <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
      {% endif %}
    </ul>
  </small>
{% endblock %}